.wrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

.user-container {
  height: auto;
}

.company-users-container {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 0rem 10rem 2rem 10rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.company-user-information-container {
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--sap-white);
  border: 1px solid var(--sap-gray-2);
}

.user-picture-wrapper {
  margin: 0;
  float: left;
  width: auto;
  height: 100%;
  position: relative;
}

.company-user-picture-container {
  margin: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background: var(--sap-dark-base);
  border: 3px solid var(--sap-highlight-1);
}

.user-picture {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.company-user-name {
  margin: 0;
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--sap-gray-4);
  text-shadow: 1px 1px 1px var(--border-darken);
}

.company-user-position {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--sap-highlight-1);
  text-shadow: 1px 1px 1px var(--border-darken);
}

.company-user {
  padding-left: 1rem;
}

/* Media Queries */
@media (max-width: 1024px) {
  .user-container {
    padding: 2.5rem 5rem;
  }

  .company-users-container {
    padding: 2.5rem 5rem;
  }

  .user-picture-container {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .user-container {
    display: block;
    padding: 2.5rem 1rem 2.5rem 1rem;
  }

  .company-users-container {
    padding: 0 1rem 2rem 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .profile-background-wrapper {
    padding: 1rem;
    text-align: center;
  }

  .user-picture-container {
    width: 125px;
    height: 125px;
  }
}