.grid-wrapper {
  display: grid;
  grid-template-areas: 'left-content-container right-content-container';
}

.content-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 50vw;
}

.left-content-container {
  grid-area: left-content-container;
}

.right-content-container {
  grid-area: right-content-container;
}

.name-heading {
  margin: 0;
  padding: 0;
  font-size: 7.5rem;
  font-weight: 400;
  color: var(--sap-highlight-1);
  text-shadow: 2px 2px 2px var(--border-darken);
}

.slogan-paragraph {
  margin: 0;
  font-size: 1.5rem;
  color: var(--sap-gray-4);
}

.login-register-box {
  width: 70%;
  margin: 0 auto;
  padding: 1rem 4rem 0 4rem;
  border-radius: 0.5rem;
  background: var(--sap-dark-base);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15), 1px 1px 3px rgba(0, 0, 0, 0.05);
}

.login-register-header {
  display: grid;
  grid-template-areas: 'login-container register-container';
  height: 15%;
  width: 100%;
}

.login-container {
  width: auto;
  grid-area: login-container;
}

.register-container {
  width: auto;
  grid-area: register-container;
}

.select-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--sap-background);
}

.select-box:hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  filter: brightness(125%);
  cursor: pointer;
}

.selected {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: 2px solid var(--sap-background);
}

.form {
  padding-bottom: .75rem;
}

.forms-container {
  padding: 1.5rem 0;
}

.form-heading {
  margin: 0;
  padding: 0;
  float: left;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 0.25rem;
  color: var(--sap-gray-2);
}

.active-form {
  border: 2px solid var(--sap-dark-neutral) !important;
}

#name-form {
  display: grid;
  grid-template-areas: 'first-name-form last-name-form';
  width: 100%;
}

#first-name-form {
  grid-area: first-name-form;
  width: 95%;
}

#last-name-form {
  grid-area: last-name-form;
  width: 100%;
}

.forgotten-password {
  margin: 0;
  padding: 0;
  float: left;
  padding: 0.5rem 0;
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--sap-white);
}

.forgotten-password:hover {
  text-decoration: underline;
}

#message-container {
  width: auto;
  margin: 1rem auto 0 auto;
}

/* Media Queries */
@media (max-width: 1024px) {
  .wrapper {
    grid-template-areas: 'left-content-container''right-content-container';
  }

  .left-content-container {
    width: 100%;
  }

  .right-content-container {
    width: 100%;
  }

  .name-heading {
    font-size: 5rem;
  }

  .slogan-paragraph {
    font-size: 1.5rem
  }

  .login-register-box {
    width: 60%;
    margin: 0 auto;
    padding: 1rem 2rem 0 2rem;
  }
}

@media (max-width: 768px) {
  .name-heading {
    font-size: 3rem;
  }

  .slogan-paragraph {
    font-size: 1rem;
  }

  .login-register-box {
    width: 80%;
  }
}