/* This way we can achieve a scrollable div inside an overflow: hidden parent */
.wrapper {
  display: flex;
  flex-direction: column;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: 'left-content-container middle-content-container right-content-container';
}

.left-content-container {
  grid-area: left-content-container;
  width: 25vw;
  height: 100%;
  background-color: var(--sap-white);
  border-right: 1px solid var(--sap-gray-1);
}

.middle-content-container {
  grid-area: middle-content-container;
  width: 50vw;
  height: 100%;
  background: var(--sap-background);
  box-shadow: inset 3px 0 10px rgba(0, 0, 0, 0.05), inset -3px 0 10px rgba(0, 0, 0, 0.05);
}

.right-content-container {
  grid-area: right-content-container;
  width: 25vw;
  height: 100%;
  background: var(--sap-white);
  border-left: 1px solid var(--sap-gray-1);
}

/* left-content-container elements stylizing */
.meetings-content-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 3rem calc(100% - 3rem);
}

.meetings-header {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--sap-gray-4);
}

.scroll-wrapper {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.meeting-cards-container {
  height: 0;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 100%;
}

.meeting-container {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 0 1rem 0 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: var(--sap-dark-base);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.meeting-container:hover {
  cursor: pointer;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

.meeting-content-container {
  width: 100%;
  height: auto;
  display: flex;
  text-align: left;
  padding: 1rem 0;
}

.meeting-content-container:nth-child(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.meeting-location-date-container {
  width: 50%;
  height: 100%;
}

.meeting-location-date-container:last-child {
  padding-left: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.meeting-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--sap-background);
  text-shadow: 2px 2px 2px var(--border-darken);
}

.meeting-description {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: var(--sap-gray-2);
}

/* right-content-container elements stylizing */
.meeting-information-wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 50% 50%;
}

.data-container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
}

#top-data-container {
  display: grid;
  padding-bottom: 1rem;
  grid-template-rows: auto;
  border-bottom: 1px solid var(--border-darken);
}

.meeting-name-second {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  color: var(--sap-gray-4);
}

.meeting-description-second {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: var(--sap-gray-4);
}

.user-information-container {
  display: flex;
  width: 100%;
  height: auto;
  margin: 1rem 0;
  position: relative;
}

.picture-wrapper {
  margin: 0;
  float: left;
  width: auto;
  height: 100%;
  position: relative;
}

.user-picture-container {
  margin: 0;
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background: var(--sap-dark-base);
}

.user-picture {
  width: auto;
  height: 100%;
  margin: 0 auto;
  display: inline;
}

.meeting-status {
  right: 0;
  bottom: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid var(--sap-white);
  background: var(--sap-dark-neutral);
}

.positive {
  background: var(--sap-dark-positive);
}

.critical {
  background: var(--sap-dark-critical);
}

.negative {
  background: var(--sap-dark-negative);
}

.user-name {
  font-weight: 400;
  font-size: 1.35rem;
  color: var(--sap-gray-5);
  margin: auto 0 auto 1rem;
}

#btn-container {
  width: 100%;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas: 'top-btn-area''bottom-btn-area';
}

/* This is because of OPENUI5 generating the button late */
.accept-btn {
  grid-area: top-btn-area;
}

.decline-btn {
  grid-area: bottom-btn-area;
}

.edit-location-btn {
  grid-area: top-btn-area;
}

.edit-date-btn {
  grid-area: bottom-btn-area;
}

.vote-submited-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 5px;
  color: var(--sap-gray-5);
  background: var(--sap-gray-1);
  border: 1px solid var(--sap-gray-3);
}

.accepted-vote {
  color: var(--sap-light-positive);
  border-color: var(--sap-light-positive);
}

.decline-meeting-heading {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: var(--sap-gray-5);
}

#edit-meeting-heading {
  margin: 0;
}

.decline-meeting-heading:first-child {
  margin: 0;
}

.heading-warning {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  background: var(--sap-gray-1);
  color: var(--sap-light-negative);
  border: 1px solid var(--sap-gray-3);
}

/* Margin for modal button */
#__button2, #__button3 {
  margin-top: 1rem;
}

/* middle-content-container elements stylizing */
.chat-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: calc(100% - 4rem) 4rem;
}

#chat-messages-wrapper {
  height: 0;
  width: 100%;
}

.message-container {
  height: auto;
  width: calc(100% - 1rem);
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: var(--sap-gray-5);
  background: var(--sap-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.075), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
}

.logged-user-message {
  background: var(--sap-dark-neutral);
}

.chat-picture {
  width: 30px;
  height: 30px;
}

#user-message {
  font-size: 1rem;
  margin: auto 0;
}

#chat-input-container {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  display: flex;
  background: var(--sap-background);
}

/* Stylizing chat input */
#__input0 {
  margin: 0;
  width: 80%;
  height: 100%;
}

#__input0-content {
  background: #f7f7f7 !important;
}

/* Stylizing button */
#__button0 {
  padding: 0;
  margin-left: 1rem;
  width: 20%;
  height: 100%;
}

/* Stylizing button */
.sapMBtnContent {
  font-size: 1.2rem;
}

#__button0-inner {
  height: 100%;
  padding-top: 5px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .meeting-name-second {
    font-size: 1.5rem;
  }

  .user-picture-container {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 768px) {
  .grid-wrapper {
    display: block;
  }

  .left-content-container {
    width: 100%;
    height: 100%;
    box-sizing: content-box;
  }

  .meetings-content-container {
    width: auto;
  }

  .middle-content-container {
    display: none;
    top: 0;
    width: 100%;
    position: absolute;
  }

  .right-content-container {
    display: none;
  }

  .meeting-container {
    width: 85%;
    margin: 0 auto;
  }

  #__button0-inner, .sapMBtnContent {
    font-size: 1rem;
  }
}