.open-modal-btn {
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0.35rem;
  color: var(--sap-highlight-1);
  background: var(--sap-white);
  border: 1px solid var(--sap-highlight-1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-modal-btn:hover {
  background: var(--sap-background);
}

.open-modal-btn:focus {
  color: var(--sap-white);
  background: var(--sap-highlight-1);
}

.accept-btn {
  color: var(--sap-light-positive);
  border-color: var(--sap-light-positive);
}

.accept-btn:focus {
  background: var(--sap-light-positive);
}

.decline-btn {
  color: var(--sap-light-negative);
  border-color: var(--sap-light-negative);
}

.decline-btn:focus {
  background: var(--sap-light-negative);
}

.edit-modal-header {
  margin: 0 0 1rem 0;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--sap-gray-5);
}

.modal-content-container {
  padding: 1rem;
}