.user-container {
  width: 100%;
  height: auto;
  display: flex;
  text-align: left;
  padding: 5rem 10rem;
}

.profile-background-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background: var(--sap-white);
  border: 1px solid var(--sap-gray-2);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

.user-picture-container {
  margin: 0;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  background: var(--sap-gray-5);
  border: 5px solid var(--sap-highlight-1);
}

.user-information-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50% 50%;
}

.user-information-container {
  width: 100%;
  height: 100%;
  padding-left: 2rem;
}

.user-description-container {
  padding-left: 1rem;
  border-left: 1px solid var(--sap-gray-3);
}

.user-picture {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.username {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  color: var(--sap-gray-5);
}

.user-position {
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  color: var(--sap-highlight-1);
}

.user-description {
  margin: 0;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-style: italic;
  color: var(--sap-gray-4);
}

.open-modal-btn {
  width: 6rem;
  padding: 0.25rem 1.5rem;
}

#__button0 {
  margin-top: 1rem;
}

.sapMInputBaseHeightMargin {
  margin-bottom: 0.5rem !important;
}

/* Media Queries */
@media (max-width: 1024px) {
  .user-container {
    padding: 2.5rem 5rem;
  }

  .profile-background-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .user-information-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .user-description-container {
    border-left: none;
    border-top: 1px solid var(--sap-gray-3);
  }

  .user-information-container {
    padding: 1rem 0;
  }

  .open-modal-btn {
    margin: auto;
  }

  .user-description-container {
    padding: 0;
  }

  .user-picture-container {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .user-container {
    display: block;
    padding: 2.5rem 1rem 2.5rem 1rem;
  }

  .user-picture-container {
    width: 125px;
    height: 125px;
  }

  .user-information-container {
    padding: 0;
  }
}