/* CSS Variables */
:root {
  /* SAP Fiori Standard Theme Primary Colors */
  --sap-dark-base: #3F5161;
  --sap-light-base: #EFF4F9;
  --sap-background: #EBEBEB;
  --sap-highlight-1: #427CAC;
  --sap-highlight-2: #91C8F6;
  /* SAP Fiori Launchpad Gradients */
  --sap-dark-top: #2C4E6C;
  --sap-dark-bottom: #9EC7D8;
  --sap-light-top: #A9C6DE;
  --sap-light-bottom: #E7ECF0;
  /* Semantic Colors */
  --sap-light-negative: #BB0000;
  --sap-light-critical: #E78C07;
  --sap-light-positive: #2B7D2B;
  --sap-light-neutral: #5E696E;
  --sap-dark-negative: #FF8888;
  --sap-dark-critical: #FABD64;
  --sap-dark-positive: #ABE2AB;
  --sap-dark-neutral: #D3D7D9;
  /* Grayscale */
  --sap-white: #FFFFFF;
  --sap-gray-1: #E5E5E5;
  --sap-gray-2: #CCCCCC;
  --sap-gray-3: #BFBFBF;
  --sap-gray-4: #666666;
  --sap-gray-5: #333333;
  /* Accents */
  --sap-accent-blue-1: #0092D1;
  --border-darken: rgba(0, 0, 0, 0.25);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  background: var(--sap-background);
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

html, body, .wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

.vertical-align {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER STYLIZING */
.custom-header {
  width: 100%;
  height: 5rem;
  background: var(--sap-dark-base);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.header-logo {
  cursor: pointer;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  color: var(--sap-background);
}

.header-logo:hover {
  filter: brightness(115%);
}

.header-dropdown {
  float: right;
  cursor: pointer;
  padding-right: 1rem;
  position: relative;
  display: inline-block;
}

.header-dropdown-heading:hover {
  filter: brightness(115%);
}

.header-dropdown-heading {
  color: var(--sap-background);
  font-size: 2rem;
  font-weight: 400;
}

.header-dropdown-content {
  z-index: 999;
  display: none;
  position: absolute;
  text-align: center;
  width: calc(100% - 1rem);
  border: 1px solid var(--sap-gray-2);
  background-color: var(--sap-background);
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.header-dropdown-content a {
  display: block;
  padding: 1.5rem 0;
  text-decoration: none;
  color: var(--sap-gray-5);
}

.header-dropdown-content a:hover {
  background: rgba(0, 0, 0, 0.075);
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

/* Adding s t y l e to SapUi5 default inputs */
.sapMInputBaseContentWrapper {
  background: var(--sap-background) !important;
  border-radius: 0.25rem !important;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
}

/* Adding s t y l e to SapUi5 default inputs */
.sapMInputBaseInner {
  font-size: 1rem !important;
  color: var(--sap-gray-5) !important;
  -webkit-transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -o-transition: all 0.5s ease !important;
  transition: all 0.5s ease !important;
}

/* Adding s t y l e to SapUi5 default inputs */
.sapMInputBaseContentWrapper::before {
  border: none !important;
}

/* Adding s t y l e to SapUi5 default inputs */
.sapMInputFocused, .sapMFocus {
  border: none !important;
}

/* Adding s t y l e to SapUi5 default buttons */
.sapMBtnBase {
  cursor: pointer;
  font-size: 1rem;
  color: var(--sap-background);
  border-radius: 0.35rem;
  border: 1px solid var(--sap-background);
  background: transparent;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

/* Adding s t y l e to SapUi5 default buttons */
.sapMBtnBase:hover {
  background: rgba(255, 255, 255, 0.1);
  color: var(--sap-white);
  border-color: var(--sap-white);
}

/* Removes default blue border on button when focused */
button:focus {
  outline: 0;
}

/* Removes default dotted outline from buttons */
html.sap-desktop .sapMBtn:focus>.sapMFocusable {
  outline: none !important;
}