<h1>Hello <%= @user.name %>, </h1>
<p>
  Click <a href = "http://localhost:3000/meetings/respond/<%=@meeting.confirmation_token%>/<%=@user.uuid %>/accept">here</a> to accept your meeting.
  <br>
  Click <a href = "http://localhost:3000/meetings/respond/<%=@meeting.confirmation_token%>/<%=@user.uuid %>/decline">here</a> to decline your meeting.
</p>
